<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/styleLogin.css">
</head>
<body>
    <div class="form-container" id="login-form">
        <h2>Login</h2>
        <% if (messages.error) { %>
          <div class="alert alert-danger" role="alert">
              <%= messages.error %>
          </div>
      <% } %>
        <form action="/Login" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required>
            <a class="forgot" href="/resetpas">Forgot Password</a>
          </div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <p>Don't have an account? <a class="link" href="/Register">SignUp</a></p>
      </div>
</body>
<script>
  
</script>
</html>