<html>
    <body>
        <%- include('layout/header.ejs') %>
        <%- include('layout/nav.ejs') %>

        <%- include('layout/link.ejs') %>
        <%- include('layout/script.ejs') %>
    </body>
</html>