<div class="trend" id="textbox">
    <a href="https://www.apple.com/iphone/?cid=oas-us-domains-iphone.com"><img src="assets/img/iphone.jpg" alt="iklan"></a>
    <div class="Text_wrap">
    <p>Join AreBlog Premium.<span></span><span><a href="MenuUtama.html">Disini</a></span></span></p>
    </div>
</div>

<div class="main-banner" id="main-banner">
    <!-- <div class="imgbanbtn imgbanbtn-prev" id="imgbanbtn-prev"></div> -->
    <div class="imgban" id="imgban3">
        
    </div>
    <div class="imgban" id="imgban2">
        
    </div>
    <div class="imgban" id="imgban1">
        
    </div>
    <!-- <div class="imgbanbtn imgbanbtn-next" id="imgbanbtn-next"></div> -->
</div>
<br>