<header>
    <ul class="header-list">
        <li class="filter-condition">
            <span>View As a</span>
            <select name="" id="select">
                <option value="Default">Default</option>
                <option value="LowToHigh">A - Z</option>
                <option value="HighToLow">Z - A</option>
            </select>
        </li>
        <li class="ContainerSearch">
            <div class="search-box">
                <input type="text" name="" id="search-item" placeholder="Cari Berita..." onkeyup="search()">
                <button type="reset"></button>
            </div>
        </li>
    </ul>
</header>
