
<div class="Containerlink">
    
    <div class="user-card">
        <a href="Presiden" class="card-link">
            <div class="card-image">
                <img src="assets/img/Prabowo-Subianto-dan-Gibran-Rakabuming-Raka.jpeg" alt="Gambar 1">
            </div>
            <div class="card-content">
                <p>Pemilihan Calon Presiden</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Bitcoin" class="card-link">
            <div class="card-image">
                <img src="assets/img/bitcoin1.jpeg" alt="Gambar 2">
            </div>
            <div class="card-content">
                <p>Investor Institusi Berminat Koleksi Bitcoin, Kripto Naik Hari Ini</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Olimpiade" class="card-link">
            <div class="card-image">
                <img src="assets/img/Peselancar.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Peselancar Indonesia Rio Waida Lolos ke Olimpiade Paris 2024</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Bandar" class="card-link">
            <div class="card-image">
                <img src="assets/img/Progress_bandara.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Bandara Sepinggan-IKN Bakal Tersambung Tol, Ini Progresnya </p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Emas" class="card-link">
            <div class="card-image">
                <img src="assets/img/emas1.jpeg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Harga emas Antam menembus Rp1,254 juta per gram</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Gerhana" class="card-link">
            <div class="card-image">
                <img src="assets/img/gerhana.jpeg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Gerhana Matahari Total 8 April 2024: Waktu dan Lokasi Terjadinya</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="IKN" class="card-link">
            <div class="card-image">
                <img src="assets/img/ikn.jpeg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Anggaran Proyek IKN Jokowi Ditambah Rp 35 T, Total Jadi Rp 60 T</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Kebakaran" class="card-link">
            <div class="card-image">
                <img src="assets/img/Kebakaran1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Kronologi Lengkap Kebakaran Gudang Munisi Kodam Jaya Hingga Padam</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Korupsi" class="card-link">
            <div class="card-image">
                <img src="assets/img/korupsi1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Update Baru & Kronologi Lengkap Kasus Timah</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Mudik" class="card-link">
            <div class="card-image">
                <img src="assets/img/mudik1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Korlantas Terapkan Ganjil Genap Demi Batasi Mobil Pribadi Saat Arus Mudik</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Pangan" class="card-link">
            <div class="card-image">
                <img src="assets/img/pangan1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Harga Pangan Makin Mahal, Inflasi Maret Diramal Meroket</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Paskah" class="card-link">
            <div class="card-image">
                <img src="assets/img/paskah1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Perayaan Misa Paskah di Gereja Katedral Jakarta Gelar , Begini Suasananya</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="PLTU" class="card-link">
            <div class="card-image">
                <img src="assets/img/pltu.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>PLN Indonesia Power membangun ekosistem biomassa untuk cofiring PLTU</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Timnas" class="card-link">
            <div class="card-image">
                <img src="assets/img/timnas1.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Mantap! Ranking FIFA Timnas Indonesia Meroket Pascajeda Internasional Maret 2024</p>
            </div>
        </a>
    </div>
</div>