
<div class="Containerlink">
    
    <div class="user-card">
        <a href="Presiden" class="card-link">
            <div class="card-image">
                <img src="assets/img/Prabowo-Subianto-dan-Gibran-Rakabuming-Raka.jpeg" alt="Gambar 1">
            </div>
            <div class="card-content">
                <p>Pemilihan Calon Presiden</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Bitcoin" class="card-link">
            <div class="card-image">
                <img src="assets/img/bitcoin1.jpeg" alt="Gambar 2">
            </div>
            <div class="card-content">
                <p>Investor Institusi Berminat Koleksi Bitcoin, Kripto Naik Hari Ini</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Olimpiade" class="card-link">
            <div class="card-image">
                <img src="assets/img/Peselancar.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Peselancar Indonesia Rio Waida Lolos ke Olimpiade Paris 2024</p>
            </div>
        </a>
    </div>

    <div class="user-card">
        <a href="Bandar" class="card-link">
            <div class="card-image">
                <img src="assets/img/Progress_bandara.jpg" alt="Gambar 3">
            </div>
            <div class="card-content">
                <p>Bandara Sepinggan-IKN Bakal Tersambung Tol, Ini Progresnya </p>
            </div>
        </a>
    </div>

</div>