<nav>
    <label class="logo">AreBlog</label>
    <ul>
        <li>
            <a href="/">Home</a>
            <span id="loginSpan">
                <a href="Login">Login</a>
            </span>
            <span id="welcomeSpan" style="display:none;">
                Welcome, <span id="welcomeMessage"></span>
            </span> <!-- Ini untuk menampilkan pesan selamat datang -->
        </li>
    </ul>
</nav>